.row.control-row
  .col-xs-12
    .btn-toolbar.btn-toolbar-lg
      .btn-group
        a.btn.btn-lg.btn-success.text-regular(
              ng-click="refresh()",
              ng-disabled="loadingResponse")
          span(ng-if="loadingResponse") Sending Request
          span(ng-if="!loadingResponse") View Results
          span &nbsp;&nbsp;
          i.fa.fa-refresh.spin-fix(ng-class="{'fa-spin': loadingResponse}")
      .btn-group.output-type-btn-group(ng-if="activeRoute.visual")
        a.btn.btn-lg.btn-width-md.btn-primary(
                ng-class="{active: outputType === 'visual'}",
                ng-click="setOutputType('visual')") Visual
        a.btn.btn-lg.btn-width-md.btn-primary(
                ng-class="{active: outputType === 'raw'}"
                ng-click="setOutputType('raw')") Raw
.row.alert.alert-danger.pin-left.pin-right(ng-if="responseError") {{ responseError }}
.row.body-row
  .col-xs-12
    iframe.response-frame.width-full(
            ng-src="{{ frameSrc }}"
            ng-if="activeRoute.visual"
            ng-show="outputType === 'visual'")
    .response-raw(ng-if="outputType === 'raw' && response.length >= MAX_HIGHLIGHT_LEN")
      pre
        code {{ response }}
    .response-raw(hljs source="response"
                  ng-if="outputType === 'raw' && response.length < MAX_HIGHLIGHT_LEN")
