#Console.below-spec-row(ng-controller="Console" ng-if="spec")
  .row
    .col-xs-12.col-sm-6
      .row.row-spaced
        .col-xs-12
          .dropdown.route-dropdown
            button.route-dropdown-btn.btn.btn-default.btn-lg.dropdown-toggle.width-full.btn-text-left(
                  type="button"
                  data-toggle="dropdown"
                  data-verb="{{ activeRoute.method }}")
              span.caret(data-verb="{{ activeRoute.method }}")
              span.text-uppercase(data-verb="{{ activeRoute.method }}") {{ activeRoute.method }}&nbsp;
              span {{ activeRoute.path }}
            ul.dropdown-menu(role="menu")
              li(role="presentation" ng-repeat="route in flatRoutes")
                a(ng-click="setActiveRoute(route)")
                  span.text-uppercase(data-verb="{{ route.method }}") {{ route.method }}&nbsp;
                  span {{ route.path }}
      .row(ng-if="activeRoute.route.description")
        .col-xs-12
          .alert.alert-info.route-description {{ activeRoute.description }}
      #Keys.row(ng-show="keyInputs.length > 0" ng-controller="Keys")
        include ./includes/keys.jade
      #Parameters.row(ng-show="activeRoute.route.parameters.length > 0")
        include ./includes/parameters.jade
      #SampleCode.row(ng-controller="SampleCode")
        .col-xs-12
          .btn-group.btn-group-sm.language-buttons
            .btn.btn-link.pin-bottom(
                  ng-repeat="language in languages"
                  ng-disabled="language.id === selectedLanguage.id"
                  ng-click="setLanguage(language)") {{ language.label }}
          span.copy-btn-container
            a.btn.btn-primary.copy-btn.pin-top.pin-right(ui-zeroclip zeroclip-text="{{ sampleCode }}") Copy
          div(hljs source="sampleCodeError || sampleCode")
    .col-xs-12.col-sm-6
      #Response.row(ng-controller="Response")
        include ./includes/response.jade
