include ./oauth2-modal.jade
#Console(ng-controller="Console" ng-if="spec")
  .row
    .col-xs-12.col-sm-6
      .row.row-spaced
        .hidden-xs.col-sm-3(ng-if="spec.tags")
          .dropdown.tag-dropdown
            button.tag-dropdown-btn.btn.btn-default.btn-lg.dropdown-toggle.width-full.btn-text-left(
                  type="button"
                  data-toggle="dropdown")
              span.caret
              span &nbsp;&nbsp;{{ activeTag ? activeTag.name : 'All' }}
            ul.dropdown-menu(role="menu")
              li(role="presentation")
                a(ng-click="setActiveTag(null)")
                  span All
              li(role="presentation" ng-repeat="tag in spec.tags")
                a(ng-click="setActiveTag(tag); goToBestRoute()")
                  span.pull-left {{ tag.name }}
                  span.small.pull-right {{ tag.description }}
                  span.clearfix
        .col-xs-12(ng-class="{'col-sm-9': spec.tags}")
          .dropdown.route-dropdown
            button.route-dropdown-btn.btn.btn-default.btn-lg.dropdown-toggle.width-full.btn-text-left(
                  type="button"
                  data-toggle="dropdown"
                  data-verb="{{ activeRoute.method }}")
              span.caret(data-verb="{{ activeRoute.method }}")
              span.text-uppercase(data-verb="{{ activeRoute.method }}") {{ activeRoute.method }}&nbsp;
              span {{ activeRoute.path }}
            ul.dropdown-menu(role="menu")
              li(role="presentation" ng-repeat="route in routes"
                 ng-show="!activeTag || (route.operation.tags && route.operation.tags.indexOf(activeTag.name) !== -1)")
                a(ng-click="setActiveRoute(route)")
                  span.text-uppercase(data-verb="{{ route.method }}") {{ route.method }}&nbsp;
                  span {{ route.path }}
      .row(ng-if="activeRoute.operation.description")
        .col-xs-12
          .alert.alert-info.route-description(marked="activeRoute.operation.description")
      #Keys.row(ng-show="keyInputs.length > 0" ng-controller="Keys")
        include ./includes/keys.jade
      #Parameters.row(ng-show="activeRoute.operation.parameters.length > 0")
        include ./includes/parameters.jade
      #SampleCode.row(ng-controller="SampleCode")
        .col-xs-12
          .btn-group.btn-group-sm.language-buttons
            .btn.btn-link.pin-bottom(
                  ng-repeat="language in languages"
                  ng-disabled="language.id === selectedLanguage.id"
                  ng-click="setLanguage(language)") {{ language.label }}
          span.copy-btn-container
            a.btn.btn-primary.copy-btn.pin-top.pin-right(ui-zeroclip zeroclip-text="{{ sampleCode }}") Copy
          div(hljs source="sampleCodeError || sampleCode")
    .col-xs-12.col-sm-6
      #Response.row(ng-controller="Response")
        include ./includes/response.jade
