extends layout

block body
  link(rel="stylesheet", href="/css/verb-colors.css")
  link(rel="stylesheet", href="/css/console.css")
  script(src="/js/sort-routes.js")
  script(src="/js/ng/input.js")

  link(rel="stylesheet", href="/bower/highlightjs/styles/github.css")
  script(src="/bower/highlightjs/highlight.pack.js")

  #SpecURL(ng-controller="SpecURL")
    include ./includes/spec-url.jade

  #Consoles.below-spec-row(ng-controller="Consoles" ng-if="consoles")
    .row(ng-controller="Console"
         ng-repeat="console in consoles"
         id="Console{{$index}}"
         ng-if="activeConsole === $index")
      .col-xs-12.col-sm-6
        .row.row-spaced
          .col-xs-12
            .dropdown
              button.route-dropdown-btn.btn.btn-default.btn-lg.dropdown-toggle.width-full.btn-text-left(
                    type="button"
                    data-toggle="dropdown"
                    data-verb="{{ consoles[activeConsole].method }}")
                span.caret(data-verb="{{ consoles[activeConsole].method }}")
                span.text-uppercase(data-verb="{{ consoles[activeConsole].method }}") {{ consoles[activeConsole].method }}&nbsp;
                span {{ consoles[activeConsole].path }}
              ul.dropdown-menu(role="menu")
                li(role="presentation" ng-repeat="console in consoles")
                  a(ng-click="setActiveConsole($index)")
                    span.text-uppercase(data-verb="{{ console.method }}") {{ console.method }}&nbsp;
                    span {{ console.path }}
          .col-xs-12
            .alert.alert-info.pin-top.route-description(ng-if="description") {{ description }}
        #Keys.row(ng-controller="Keys" ng-show="keyInputs.length > 0")
          include ./includes/keys.jade
        #Parameters.row(ng-controller="Parameters" ng-show="parameters.length > 0")
          include ./includes/parameters.jade

        #SampleCode.row(ng-controller="SampleCode")
          .col-xs-12
            .btn-group.btn-group-sm.language-buttons
              .btn.btn-link.pin-bottom(
                    ng-repeat="language in languages"
                    ng-disabled="language.id === selectedLanguage.id"
                    ng-click="setLanguage(language)") {{ language.label }}
            span.copy-btn-container
              a.btn.btn-primary.copy-btn.pin-top.pin-right(ui-zeroclip zeroclip-text="{{ sampleCode }}") Copy
            div(hljs source="sampleCodeError || sampleCode")
      .col-xs-12.col-sm-6
        #Response.row(ng-controller="Response")
          include ./includes/response.jade
