include ./mixins/sidebar.jade

mixin schema-example
  div(ng-if="schemaExample.length < MAX_HIGHLIGHT_LEN"
      hljs source="schemaExample")
  div(ng-if="schemaExample.length >= MAX_HIGHLIGHT_LEN")
    pre
      code {{ schemaExample }}

.row.docs-row
  +sidebar(false)
  .col-xs-12.col-sm-9.docs-col
    #README.row.scroll-target(ng-if="spec.info['x-lucy/readme'] || spec.info.description")
      .col-xs-12
        img.logo(ng-show="spec.info['x-logo']"
                 ng-src="{{ spec.info['x-logo'].url || spec.info['x-logo'] }}"
                 style="padding: 5px; background-color: {{ spec.info['x-logo'].backgroundColor || '#fff' }}")
        div.markdown-container(marked="spec.info['x-lucy/readme'] || spec.info.description")
    .row.scroll-route.scroll-target(
        ng-controller="Route"
        ng-repeat="route in routesFiltered"
        id="ScrollRoute{{$index}}")
      a(name="route{{$index}}")
      .col-xs-12
        hr(ng-show="$index !== 0")
        h2.text-regular
          span.pull-left
            span.text-uppercase(data-verb="{{ route.method }}" ng-bind="route.method")
            span &nbsp;&nbsp;
            span(ng-bind="route.path")
          a.btn.btn-lg.btn-primary.pull-right(ng-click="openConsole(route)") Try it out!
          .clearfix
          p.small(ng-bind="stripHtml(route.operation.summary)")
        .route-description(ng-show="route.operation.description" marked="route.operation.description")
      .col-xs-12
        a.btn.btn-default(ng-click="expanded = !expanded")
          span(ng-bind="expanded ? 'Hide' : 'Show'")
          span  Details
      div(ng-if="expanded")
        .col-xs-12.col-sm-6.docs-request-col
          h4
            span Parameters
          p(ng-show="route.operation.parameters.length === 0")
            i No Parameters
          div(ng-controller="DocParameter"
              ng-repeat="parameter in route.operation.parameters")
            p
              span
                strong {{ parameter.name }}
              span &nbsp;&nbsp;
              span(data-parameter-type="{{ parameter.schema ? 'object' : parameter.format || parameter.type }}")
                span {{ parameter.schema ? 'object' : parameter.format || parameter.type }}
              i(ng-show="parameter.required") &nbsp;&nbsp;required
            .parameter-details
              p(ng-show="parameter.in !== 'body'")
                span Location:
                span &nbsp;
                span(data-parameter-in="{{parameter.in}}") {{ parameter.in }}
                span &nbsp;
                span.wrap-break-word(ng-show="!parameter.schema") <code>{{ getExample() }}</code>
              p
                span(ng-show="parameter.description" marked="parameter.description")
              p
                .request-schema.hide-code(ng-show="parameter.schema"
                                          ng-controller="Schema")
                  +schema-example
                div(ng-show="parameter.collectionFormat") {{ getCollectionFormatMessage() }}
                div(ng-show="parameter.enum") Allowed values are:
                  .enum-list
                    ul
                      li(ng-repeat="item in parameter.enum") {{ item }}
        .col-xs-12.col-sm-6.docs-response-col
          h4 Responses
          div(ng-repeat="(code, response) in route.operation.responses" ng-controller="DocResponse")
            p
              strong
                span(data-response-code="{{code}}") {{ code }}
            p(ng-show="response.description" marked="response.description")
            .response-schema.hide-code(
                  ng-controller="Schema"
                  ng-show="response.schema")
              +schema-example
  script.
    var scope = $('.docs-col').scope();
    $('.docs-col').scroll(function() {
      scope.onScroll();
      scope.$apply();
    })

