mixin edit-markdown(name, field)
  div(ng-controller="EditMarkdown")
    a(ng-show="!clicked" ng-click="clicked = true")
      span(ng-if="!#{field}") Add&nbsp;
      span #{name}
    a.btn.btn-sm.btn-success(ng-show="clicked" ng-click="clicked = false") Done
    i(ng-show="clicked") &nbsp;Tip: you can include&nbsp;
      a(href="https://help.github.com/articles/markdown-basics/" target="_blank") markdown
    div(ng-if="!clicked")
      div(marked="#{field}")
    div(ng-if="clicked")
      div(ui-codemirror ng-model="#{field}")
mixin edit-schema(name, field)
  div(ng-controller="Schema")
    a(ng-show="!clicked" ng-click="edit(#{field})")
      span(ng-if="!#{field}") Add&nbsp;
      span #{name}
    a.btn.btn-sm.btn-success(ng-show="clicked" ng-click="#{field} = save() || #{field}") Done
    .alert.alert-sm.alert-danger(ng-if="parseError") {{ parseError }}
    div(ng-if="!clicked")
      .hide-code(
            ng-if="#{field}"
            hljs source="getString(#{field})")
    div(ng-if="clicked")
      div(ui-codemirror="{onLoad: codemirrorLoad}" ng-model="schemaString" ng-change="log")
.row.docs-row
  .col-md-3.docs-nav-col
    .form-group
    .form-group
      a.btn.btn-success Save
    ul
      li.readme-link(ng-if="spec.info['x-lucy/readme'] || spec.info.description")
        a(ng-click="scrollTo(-1)")
          span README
      li.route-link(ng-repeat="route in routesFiltered")
         a(ng-click="scrollTo($index)")
           span.method-text.text-uppercase(
               data-verb="{{route.method}}") {{ route.method }}
           span &nbsp;
           span {{ route.path }}
    p
      a.btn.btn-sm.btn-success(ng-click="addOperation()") + New Operation
  .col-md-9.docs-col
    #README.row(ng-if="spec.info['x-lucy/readme'] || spec.info.description")
      .col-md-12
        +edit-markdown('README', 'spec.info["x-lucy/readme"]')
        hr
    .row.scroll-route(ng-controller="Route"
         ng-repeat="route in routesFiltered"
         id="ScrollRoute{{$index}}")
      .col-md-12
        hr(ng-if="$index !== 0")
        h3.text-regular
          span
            span.text-uppercase(
                editable-select="route.method"
                e-ng-options="i for i in ['get', 'put', 'post', 'delete', 'options', 'head', 'patch']"
                blur="submit"
                data-verb="{{ route.method }}") {{ route.method }}
            span &nbsp;
            span(editable-text="route.path" blur="submit") {{ route.path }}
        p.small(editable-text="route.operation.summary" blur="submit") {{ route.operation.summary || 'Add summary' }}
      .col-md-6.docs-request-col
        +edit-markdown('Operation Description', 'route.operation.description')
        h4 Parameters
        div(ng-controller="DocParameter"
            ng-repeat="parameter in route.operation.parameters")
          p
            strong Name:&nbsp;
            span(editable-text="parameter.name" blur="submit") {{ parameter.name }}
            span &nbsp;&nbsp;
            a(ng-click="removeParameter($index)")
              i.text-danger remove
          p
            span Type:&nbsp;
            span(editable-select="parameter.type" blur="submit"
                e-ng-options="i as i for i in ['string', 'number', 'integer', 'boolean', 'array', 'file']") {{ parameter.type }}
          p
            span Required:&nbsp;
            input(type="checkbox" ng-model="parameter.required")
          p
            span In:&nbsp;
            span(editable-select="parameter.in" blur="submit"
                 e-ng-options="i as i for i in ['path', 'query', 'header', 'body', 'formData']") {{ parameter.in }}
          p
            +edit-markdown('Parameter Description', 'parameter.description')
          p
            div(ng-if="parameter.in === 'body'")
              +edit-schema('Schema', 'parameter.schema')
          p
            div(ng-if="parameter.collectionFormat") {{ getCollectionFormatMessage() }}
            div(ng-if="parameter.enum") Allowed values are:
            .enum-list
              ul
                li(ng-repeat="item in parameter.enum") {{ item }}
        a(ng-click="addParameter()") + Add Parameter
      .col-md-6.docs-response-col
        div(ng-repeat="(code, response) in route.operation.responses" ng-controller="ResponseCode")
          h4
            span Response&nbsp;&nbsp;
            span(editable-text="code" blur="submit" onbeforesave="save($data)") {{ code }}
            span &nbsp;&nbsp;
            small
              a(ng-click="removeResponse(code)")
                i.text-danger remove
          p
            +edit-markdown('Response Description', 'response.description')
          p
            +edit-schema('Response Schema', 'response.schema')
        h4
          a.text-lg(ng-click="addResponse()") Add Response
