mixin sidebar(editable)
  .hidden-xs.col-sm-3.sidebar
    .form-group
    if editable
      .form-group
        a.btn.btn-success Save
    .form-group
      .input-group.input-group-sm.width-full
        span.input-group-addon
          i.fa.fa-search
        input.form-control(type="text" ng-model="filter.query")
    mixin menuItem(name)
      a(ng-click="menuItems.active = #{name}.children ? #{name}.children[0] : #{name}; scrollToTarget(#{name}.target || #{name}.children[0].target)")
        span.method-text.text-uppercase(ng-show="#{name}.method" data-verb="{{#{name}.method}}" ng-bind="#{name}.method")
        span(ng-bind="#{name}.title")
    ul.nav.nav-list(ng-cloak)
      li(ng-repeat="item in menuItems"
         ng-class="{'scrolled-parent': item.children && item.children.indexOf(menuItems.active) !== -1, 'scrolled-item': item === menuItems.active}"
         class="menu-{{ item.class }}")
        +menuItem('item')
        ul.nav.nav-list(ng-show="item.children && item.children.indexOf(menuItems.active) !== -1")
          li(ng-repeat="child in item.children" ng-class="{'scrolled-item': child === menuItems.active}")
            +menuItem('child')
      if editable
        li.route-link
          a(ng-click="addOperation()") Add Operation
    p.attribution
      span Powered by 
      a(href="http://lucybot.com" target="_blank") LucyBot
